#main-window{
    border:1px solid lightgray;
    height:600px;
    padding: 0px;
    
}

#palatte{
    color: white;
 
    
}

#palatteitems,#proppalatte{
    
    min-height:280px;
}

#main-window,#palatteitems{
    overflow-y: auto;
}

.smtxt{
    font-size:12px;
    
}

.column{
    /* border:1px solid gray; */
    height:100px;
    padding:7px;
    border-radius: 7px;
    background:rgb(211, 211, 211);
    margin:5px;
    
}


.AppBody{
    margin-top:55px;
}

body{
    overflow: hidden;
}

.pBtn{
    border:1px solid white;
}

.pBtn:hover{
    background:darkslategray;
    border:1px solid white;
}

.palatte-heading{
    width:100%;
    text-align: center;
    background: rgb(141, 141, 141);
}